{% set P = L.op_impl.parameters %}
struct {{L.struct_name}} {
  using input_t  = {{P.precision.lhs.c_type}};
  using output_t = {{P.precision.output.c_type}};
  static constexpr int CAS_NUM = {{P.parallelism.cas_num}};
  static constexpr int CAS_LENGTH = {{P.parallelism.cas_length}};
  static constexpr int ROWS = {{P.rows}};
  static constexpr int COLS = {{P.cols}};
  static constexpr int VEC  = {{P.vec_size}};
  static constexpr int INV_SHIFT = {{P.inv_shift}};
  static constexpr bool USE_CLB = {{ 'true' if P.use_clb else 'false' }};
  static constexpr const char* ROUNDING_TOKEN = "floor";
  static constexpr const char* SATURATION_TOKEN = "saturate";
#if __cplusplus >= 202002L
  static constexpr auto ROUNDING   = aie::rounding_mode::floor;
  static constexpr auto SATURATION = aie::saturation_mode::saturate;
#endif

  alignas(16) static inline int16_t B[CAS_NUM] = {
    {%- for v in P.packed_hccs.B -%}{{ v|int }}{{ ", " if not loop.last else "" }}{%- endfor -%}
  };

  alignas(16) static inline int8_t S[CAS_NUM] = {
    {%- for v in P.packed_hccs.S -%}{{ v|int }}{{ ", " if not loop.last else "" }}{%- endfor -%}
  };

  alignas(16) static inline uint8_t Dmax[CAS_NUM] = {
    {%- for v in P.packed_hccs.Dmax -%}{{ v|int }}{{ ", " if not loop.last else "" }}{%- endfor -%}
  };

  static constexpr int col_placement = {{L.placement.col}};
  static constexpr int row_placement = {{L.placement.row}};
};
