{% set P = L.op_impl.parameters %}
struct {{L.struct_name}} {
  using data_t = {{P.precision.lhs.c_type}};
  using rhs_t = {{P.precision.rhs.c_type}};
  using result_t = {{P.precision.output.c_type}};
  using a_t = data_t;
  using b_t = rhs_t;
  using c_t = result_t;
  static constexpr int IN_FEAT = {{L.n_in}}; static constexpr int OUT_FEAT = {{L.n_out}};
  static constexpr int CAS_LENGTH = {{P.parallelism.cas_length}}; static constexpr int CAS_NUM = {{P.parallelism.cas_num}};
  static constexpr bool PARALLELISM_CONTRACT_OUTER = {{ 'true' if P.parallelism.contract == 'outer' else 'false' }};
  static constexpr bool TRANSPOSE_A = {{ 'true' if P.flags.transpose_lhs else 'false' }};
  static constexpr bool TRANSPOSE_B = {{ 'true' if P.flags.transpose_rhs else 'false' }};
  static constexpr int SHIFT = {{P.shift}};
  static constexpr int M = {{P.microtiling.microtile_m}}, K = {{P.microtiling.microtile_k}}, N = {{P.microtiling.microtile_n}};
  static constexpr int col_placement = {{L.placement.col}};
  static constexpr int row_placement = {{L.placement.row}};
  static constexpr int padded_M = {{P.full_outer}};
  static constexpr int padded_K = {{P.full_inner_lhs}};
  static constexpr int padded_N = {{P.full_inner_rhs}};
  static constexpr int K_SLICE = {{P.tile_inner_lhs}};
  static constexpr int N_SLICE = {{P.tile_inner_rhs}};
  static constexpr int RAW_K_SLICE = {{P.tile_inner_lhs_raw}};
  static constexpr int RAW_N_SLICE = {{P.tile_inner_rhs_raw}};
  using acc_scalar_t = {{ P.accumulator_tag }};
  static constexpr const char* ROUNDING_TOKEN = "{{ P.rounding_mode }}";
  static constexpr const char* SATURATION_TOKEN = "saturate";
#if __cplusplus >= 202002L
  static constexpr auto ROUNDING   = aie::rounding_mode::{{ P.rounding_mode }};
  static constexpr auto SATURATION = aie::saturation_mode::saturate;
#endif
};
